.File{
    width: 200px;
    margin: 20px 10px 20px 10px;
    font-size: 14px;
    cursor: pointer;
    
}
.button{
    top:60px;
    right: 170px;
    font-size: 10px;
    position: relative;
}

.Position{
    align-items: flex-start;
    display: flex;

    
}
